langchain>=0.1.0
pydantic
langchain-openai==0.3
langchain_core
typing
langchain-text-splitters
langchain-community
langgraph
selenium
beautifulsoup4
langchain-chroma
flask
langchain_pinecone
pinecone-notebooks
langchain-nvidia-ai-endpoints
langchain_community
tiktoken
langchain-cohere
langchainhub
chromadb
tavily-python
streamlit